@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime.ToString("dd MM yyyy HH:mm") - @gig.Artist.Name</li>
    }
</ul>